*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(61, 55, 60);
}

.container{
    background-color: rgb(240, 248, 255);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 45vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form,select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid rgb(106, 184, 210);
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(106, 184, 210);
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
} 
form button{
    height: 3rem;
    background-color: rgb(114, 43, 202);
    box-shadow: 7px 7px rgb(50, 52, 53);
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}